<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666637926402-pg1g136fjg4vno8v2vvjj20i910e5v3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666637926402-pg1g136fjg4vno8v2vvjj20i910e5v3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBi8Rcbf_FIRcZaXj1qem9w2oqC9PZIID0</string>
	<key>GCM_SENDER_ID</key>
	<string>666637926402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.LegacyDev.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-fb7a5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-fb7a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666637926402:ios:fe83df4911e7f700b7271b</string>
</dict>
</plist>